#rpc {
    width: 100%;       /* 设置宽度为100% */
    height: 100vh;
}

.menu {
    border-right: 2px solid black;
    height: 100vh;
    text-align: center;
}

.play-ground {
    // margin-right: 100px;
    // height: 100vh;
}