$PrimeColor: #FFA409 

.navContent
    position: sticky
    background-color: transparentize(grey, 1)
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    top: 0px
    z-index: 100 !important
    backdrop-filter: blur(3px)
    padding-top: 10px

    .nav-bar
        display: flex
        justify-content: space-between
        height: 50px
        max-width: 1140px
        width: 100%
        margin: 0 30px
    

    .nameLogo
        width: 40px
        object-fit: contain
        cursor: pointer

    .navList
        display: flex

    .nav-pills .nav-link.active
        background-color: transparentize(white, 1)  !important
        color: $PrimeColor !important
            
    .nav-item
        color: black !important

        &:hover
            color: $PrimeColor !important